$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-des-cyan: hsl(167, 40%, 24%);
$Dark-blue: hsl(198, 62%, 26%);
$Dark-moderate-cyan: hsl(168, 34%, 41%);
$V-dark-des-blue: hsl(212, 27%, 19%);
$V-dark-gray-blue: hsl(213, 9%, 39%);
$Dark-gray-blue: hsl(232, 10%, 55%);
$Gray-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

$barlow: "Barlow", sans-serif;
$fraunces: "fraunces", serif;

$font-weight: (
  "sb": 600,
  "bold": 700,
  "black": 700,
);

